# Node modules
node_modules/

# Build output
build/
dist/

# Environment variables
.env
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
!.terraform.lock.hcl
!*.tfvars.example
